# Primitive Data Types


##Learning Objectives



1.   Explain the difference between each primitive data type.
2.   Identify and apply operators to various data types.
3.   Check the data type with type()

Primitive Data Types
The four primitive types are:



1.   Integers
2.   Floats
3.   Boleans
4.   String

Primitive types are data!

1. Integers or Ints Are Whole Numbers.

Integers (ints) are whole numbers, such as 0, 1, 2, 3 etc. They can also be negative whole numbers, such as -1, -2, -3, etc. We will be using Python 3, and in Python 3 there is functionally no maximum size for an integer, except the totality of your computer’s working memory. Integers use less memory than floats.

2. Floats Are Decimal Numbers.

Floats are short for ‘floating point numbers’. These are numbers that have a decimal point. It’s called a floating point because it can move around the number as the value changes. For instance:

12.34 * 10 = 123.4

In the above example, multiplying by 10 caused the decimal point to ‘float’ to the right.

When it comes to floats, you may wish to limit the precision of your answers. You can do this by using round(). Put the value or expression you wish to round as the first argument, and put the number of places after the decimal as the second argument.

In [ ]:
# round to keep 2 places after the decimal
round(10/3, 5)

3.33333

In [4]:
x = 2/3
x

0.6666666666666666

In [9]:
round(x, 2)

0.67

In [10]:
round(4/10)
0.4

0.4

What happens if you do not include a second argument with round(); what is the default number of places after the decimal? Try it to check!

3. Booleans or Bools are True or False.

Booleans, more commonly called ‘Bools’ are True or False. These are often the result of a comparison between things, such as 12 == (3 * 4). Note that in Python comparison is denoted by two equal signs (==). This is like asking the question: are these things equivalent?

In [12]:
# We will define a bool
#Use of an equals operator
12 == (3*4)

# There is difference between = assignment operator and == equals operator

True

In [13]:

a=(3*4)
a

12

Since 12 is indeed mathematically equivalent to 3*4, the output is True.

Let's try another example:

In [14]:
# We will define a bool
 #first line of code
print(1==(1/2))
print(12 <=(7*8)) #second line of code
12 == (7*8)
print(12)

False
True
12

Since 12 is not mathematically equivalent to 7*8, the output is False.

Note that Boolean values, True or False, always start with a capital letter.

Boolean Operators (returns a bool, True or False)

In addition to the == operator, there are other Boolean operators you should be familiar with.

When using a Boolean operator, the output will be either True or False. Predict the result of each and run in a code cell to confirm!


1.   is equal to (==): 5 == 5
2.   is not equal to (!=): 5 != 2
3.   is greater than (>): 5 > 2
4.   is greater than or equal to (>=): 5 >= 2
5.   is less than (<): 2 < 5
6.   is less than or equal to (<=): 2 <= 5

In [16]:
print(5 != 2)
print(2 < 2)

True
False

4. Strings Are Text.

Strings can contain one or many more characters and are considered text. Remember, in Python, strings are denoted by quotation marks. ‘Hello’, ‘I am a string.’ and ‘I have 16 elephants in my garage’ are all strings.

Even numbers are strings if they are inside quotation marks.

“14” is a string

14 is an integer

You can use either single quotes (‘) or double quotes (“) to create strings in Python, as long as you use the same kind at both the beginning and end.

New line
You may wish to start a new line in a string. When typing in a document, you would do this by pressing the "enter" key, but in Python code, you can indicate the start of a new line by using \n.

In the code below we will start a new line after each word.

In [18]:
# Demo line breaks
# use \n
print("I \n am \n Ishmael \n and\n I\n am\n a\n data \n scientist")

I
 am
 Ishmael
 and
 I
 am
 a
 data
 scientist

In [ ]:
print('14')

14

In [ ]:
print("I love coding!")

I love coding!

##Checking the Data Type
You can check the data type by using the type() function.

In [ ]:
# check the data type
type(6)

int

As we should expect, the data type here is int (integer).

Try another

In [ ]:
# check the data type
type('Welcome to Data Science Fundamentals')

str

In [ ]:
type('14')

str

#Calculations
Performing calculations can result in a float datatype even if the resulting value is a whole number.

If you multiply an integer by a float, the result will be a float even if the product is a whole number.

In [ ]:
# check the type
type(6*.5)

float

Even if the mathematical product is a whole number (3), you can see that a float multiplied by an integer will result in a float.

If you divide two integers, the result will be a float even if its quotient is a whole number.

In [ ]:
# check the type
type(9/3)
9/3

3.0

In [22]:
print(14)
a=14
y = '14'
y

14

'14'

In [ ]:
print('14')
print(type(a))
type(y)

14
<class 'int'>

str

##Summary
Python has four primitive types: integers, floats, strings, and bools.



1.  Integers are whole numbers.
2.  Floats are decimal numbers.
3.  Bools are True or False.
4.  Strings are text.