# Intro to Pandas DataFrames
In the last chapter, we introduced the concept of a Python package/module. This lesson introduces the Pandas package and the DataFrame object, which you will use extensively as a data scientist.

**Learning Objectives**
1. Outline the benefits of progressing from a Python List to a NumPy array to a Pandas dataframe
2. Create a dataframe using a dictionary
3. Identify the 3 components of a dataframe
4. Set the index of a dataframe

**Bake Sale Mini Project**
Often in your work as a data scientist, you will be loading outside datasets into your Python environment. Today, however, we will create a simple data set for a mini-project analyzing the results of a bake sale.

Let's suppose the "Teens for Tech" club has asked you to help them analyze data from their ongoing week-long bake sale.

* They are planning on selling the following baked goods over 5 school days.
   * brownie: $2.25

   * cookie: $1.25

   * cake: $9.50

   * cupcake: $3.50

* They were hoping to raise $1000

**Starting with Lists - Names & Prices**

Let's start by first creating lists with the names and prices of each of the baked goods.

* Declare a variable, namesthat is a list containing the names of the baked goods they plan to sell.
* Print or display the names list.

In [1]:
# Create list of bake sale names
names_list = ['brownie','cookie','cake', 'cupcake']
names_list

['brownie', 'cookie', 'cake', 'cupcake']

* Declare a second variable, **prices** which is a list containing the prices of each good (as integers).
Make sure that you have the names and prices in the same order (if the brownie is first in your names list, then its price should be the first value in your prices list).
* Print or display the prices list.

In [2]:
# Create a list of prices
prices_list = [2.25,1.25,9.5, 3.5]
prices_list

[2.25, 1.25, 9.5, 3.5]

**Bakes Sale Results Day 1**
The club has provided us with the quantities of each baked good sold on the first day of their bake sale:

So far, the club has sold:

* 17 brownies
* 40 cookies
* 1 cake
* and 10 cupcakes

Declare a new list with these values called *quantities_sold_list* and print the *quantities_sold_list*.

In [3]:
# Define a list with the quantity sold
quantities_sold_list = [17, 40, 1, 10]
print(quantities_sold_list)

[17, 40, 1, 10]

You should now have:

* a list called names_list that contains 'brownie', 'cookie', 'cake', 'cupcake'
* a list called prices_list that contains [2.25, 1.25, 9.5, 3.5]
* a list called quantities_sold_list that contains [17, 40, 1, 10]

The club has asked us to calculate their sales/revenue thus far. We need to calculate the total money collected from each of the baked goods so far.

* To do so, we simply need to multiply each Price by the corresponding Quantity Sold.
* Let's try to use our original lists to calculate the total sales.

In [4]:
# Try multiplying two lists
# prices_list * quantities_sold_list

result = []

for i in range(len(prices_list)):
    result.append(prices_list[i] * quantities_sold_list[i])

print(result)

[38.25, 50.0, 9.5, 35.0]

we get an error that reveals a critical weakness of lists: Lists cannot handle calculations.

Data scientists need to perform many calculations! How can we accomplish this with Python?

* One answer is to loop through the lists and slice out the price and quantity for the current baked good. Then we would have to multiply the result for each product and append each result to a new list. While this approach may work with our small dataset, this approach would become more costly as the size of our data increases, which we will demonstrate shortly.
* A better answer is to use NumPy's special datatype: the ndarray

**NumPy Arrays**

Since NumPy is intended to perform linear algebra with Python, it includes a new custom class/data type: a NumPy ndarray.

“Ndarray” stands for “N-Dimensional Array." That is to say, it is an array that can have any number of dimensions. As Data Scientists, we will generally be working with 1-dimensional and 2-dimensional data, but some more advanced applications will use data stored in higher dimensions. We will often refer to ndarrays simply as "arrays."

**Creating a NumPy Array**

You can use the function np.array() to change a Python collection into a NumPy array. Remember to import the NumPy package first!
Here we will convert the prices list to a NumPy array.

In [5]:
# import numpy
import numpy as np
# make a numpy array from the prices list
prices_array = np.array(prices_list)
prices_array

array([2.25, 1.25, 9.5 , 3.5 ])

Next, we will convert the quantities_sold_list to a NumPy array.

In [6]:
# make a numpy array from the quantities sold list
quantities_sold_array = np.array(quantities_sold_list)
quantities_sold_array

array([17, 40,  1, 10])

**Arrays vs. Lists**

Arrays and Lists are very similar in the information they contain and how to access that information.
Arrays, however, are more complex and efficient. They have additional functionality and properties.

* Let's review some key differences between Python lists and NumPy arrays.

**Number of Elements / Size**

Both Lists and Arrays have lengths (len), but only arrays have a shape. First, we check the length of the prices list.

In [7]:
# Find the length of the prices list and the prices array
print(len(prices_list))
print(len(prices_array))

4
4

Unlike lists, arrays can be more than one dimension. Thus arrays have a shape, while lists do not.

Here we attempt to check the shape of the prices list

In [8]:
# Attempt to check the shape of a list
#prices_list.shape  #you should get an error, lists don't have a shape

# Check the shape of the prices array
prices_array.shape

(4,)

Note: a 1-dimensional array will have a shape that looks like a tuple with the length and just a comma as we see in the output above.

**Elementwise Calculations**
For our Bake Sale, we need to calculate the Price * Quantity Sold for each item.

* We need to multiply each element/index from the prices array
and the corresponding element from the quantities sold array.

We can do this without a loop thanks to NumPy's ability to perform **element-wise calculations**.

NumPy arrays will automatically perform operations element-wise, as long as there is the same number of elements in each array.

In [9]:
# Arrays perform operations elementwise
prices_array * quantities_sold_array

array([38.25, 50.  ,  9.5 , 35.  ])

Sure! This is a convenient way to obtain the revenue totals for each treat sold at the bake sale!

**Real-World Data is Tabular**

NumPy arrays are the backbone of many of the data science tools we will be using in this program. Arrays are an improvement over lists, but they still suffer from one downside of lists: there are no labels or text associated with our data. Once we start tracking more than a few pieces of information, arrays become inadequate.


For example, most real-world data comes in the form of a spreadsheet with rows and columns. If we were tracking our baked goods sales in a spreadsheet, we might have something like this:
![image.png]()

We need a way to work with data from spreadsheets and to maintain our column names and other text labels efficiently. Pandas provides us with the solution in the form of a Pandas DataFrame.

**Intro to Pandas**

Pandas is a Python package that you will become intimately familiar with as a Data Scientist. Pandas is built with NumPy and leverages the efficiency and speed of NumPy arrays combined with better visualization of our data. Pandas will be our primary tool for loading and working with data in Python going forward.

Let's return to our bake sale data, but with Pandas. First, import pandas using its standard alias (pd).

In [10]:
import pandas as pd

**Panda's New Data Types**

Pandas has 2 main types of collections that we will be working with: Series and DataFrames.

* Series are used for 1-dimensional data.
* DataFrames are used for 2-dimensional data.
(Note that "DataFrame" is also commonly written in text with lowercase letters as "dataframe." We will use both interchangeably in the text. In code, however, you must use capital letters.)

We will usually be working with 2-dimensional data, so let's dive into DataFrames first.

**Creating a DataFrame**

There are several different ways that we can create a dataframe.

Since we already have lists that contain the data we want in our dataframe, the easiest way to create the dataframe is to make a temporary dictionary with the column names we want to use as the keys and the list of data as the values.

In [62]:
# Make a dataframe from a dictionary
df = pd.DataFrame({'Name':names_list,
                   'Price':prices_list,
                   "Quantity Sold": quantities_sold_list})

In [63]:
bakers_dictionary = {'Name': names_list,
                     'Price': prices_list,
                     'quantities_sold_day1': quantities_sold_list
                     }
bakers_dictionary

{'Name': ['brownie', 'cookie', 'cake', 'cupcake'],
 'Price': [2.25, 1.25, 9.5, 3.5],
 'quantities_sold_day1': [17, 40, 1, 10]}

In [64]:
# #load data from external envt
pd.read_csv("C:/Users/ISHMO_CT/Desktop/projects/RDSB/data/california_housing_train/california_housing_train.csv")

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

You can see how nicely organized and labeled the DataFrame is! Notice that it resembles the structure of a spreadsheet.

It is a good idea to verify the data type when learning new code. Here you will confirm that this is indeed a DataFrame:

In [65]:
# Verify the data type
type(df)

pandas.core.frame.DataFrame

**Anatomy of a DataFrame**
The DataFrame is comprised of 3 primary components:

* the column names in bold font in the top row.
* the original raw data values are stored in the grid in the center.
* an index for each row in bold on the left.

We can access these 3 components as attributes for our DataFrame.

An **attribute** is a variable that is stored within another object. We access attributes using dot notation, similar to how we use a function stored inside a package. We do not use parenthesis when accessing an attribute.

You can access the three primary components of a dataframe individually using the following code:

In [66]:
# a special list with the names of each column
df.columns

Index(['Name', 'Price', 'Quantity Sold'], dtype='object')

In [67]:
# the raw data in a numpy array
df.values

array([['brownie', 2.25, 17],
       ['cookie', 1.25, 40],
       ['cake', 9.5, 1],
       ['cupcake', 3.5, 10]], dtype=object)

In [68]:
# a special list with the row names (index)
df.index

RangeIndex(start=0, stop=4, step=1)

We can set one of our columns as the index if we have an alternative column with a unique value for each row. We have such a column, the Name. Let's set the index of our DataFrame to be the Names instead of just non-descriptive integers.

**Setting the Index**

The code below will allow us to preview what setting the index will look like, but does not make the change permanent.

In [69]:
# Run the set index command using the "Name"
df.set_index("Name")

         Price  Quantity Sold
Name
brownie   2.25             17
cookie    1.25             40
cake      9.50              1
cupcake   3.50             10

Notice that our original integer column has been replaced with the Name. The Name column now appears in bold.

If we check our .index again, however, we verify that this change was only temporary and was not saved.

In [70]:
# Check the index
df.index

RangeIndex(start=0, stop=4, step=1)

In [71]:
df

      Name  Price  Quantity Sold
0  brownie   2.25             17
1   cookie   1.25             40
2     cake   9.50              1
3  cupcake   3.50             10

We can get a preview of what things will look like without saving them by following the method above. However, if we want to save the change, the best way is to overwrite the existing dataframe by using "df =" before the rest of the code.

In [72]:
# Overwrite the original variable
df = df.set_index("Name")

Now if we check the index, we will see the change has been made permanent:

In [73]:
# Check the index after overwriting the variable
df.index

Index(['brownie', 'cookie', 'cake', 'cupcake'], dtype='object', name='Name')

In [74]:
df

         Price  Quantity Sold
Name
brownie   2.25             17
cookie    1.25             40
cake      9.50              1
cupcake   3.50             10

Great, now our dataframe has been updated.

In [75]:
# display dataframe with new index
df

         Price  Quantity Sold
Name
brownie   2.25             17
cookie    1.25             40
cake      9.50              1
cupcake   3.50             10

Note, alternative approach that uses the "in place = True" argument instead of overwriting the variable as shown:

In [76]:
#df.set_index("Name", inplace=True)

**Summary**

This lesson included data from a bake sale to demonstrate the progression from Python lists, to NumPy arrays, to Pandas DataFrames. NumPy arrays allow for 2-dimensional data and elementwise calculations, but lack labels. Pandas dataframes provide us with the functionality of NumPy and also provide a familiar view of data that is similar to a spreadsheet. Dataframes have labeled columns and indexed rows. We can provide meaningful labels to our index if each row of our data has a unique value. We will continue to work in Pandas throughout the program.

# Working With Data Frames

**Learning objectives**

* Working with DataFrames
* Slice columns from a dataframe
* Differentiate between a series and a dataframe
* Perform elementwise calculations
* Combine a series and a dataframe
* Add new columns to a dataframe

**Key Terms**
* Slice
* Series
* Concatenate

**Slicing Columns Using Brackets**

We will often want to access just certain parts of our dataset. "Slicing" is the process of selecting a subset of the data based on a label or position. Slicing can refer to selecting row(s) and/or columns(s). In this lesson, we will demonstrate slicing columns.

With square brackets, you can select one or more columns. Single square brackets will return a Pandas Series, while double square brackets will return a Pandas dataframe.

**Single brackets return a Series**
The code below will select the "Price" column from the dataframe and will return a Series.

In [77]:
# select one column usig single square brackets
df['Price']

Name
brownie    2.25
cookie     1.25
cake       9.50
cupcake    3.50
Name: Price, dtype: float64

We can save the sliced information as a new variable:

In [78]:
# save the column as a new variable
sliced = df['Price']
sliced

Name
brownie    2.25
cookie     1.25
cake       9.50
cupcake    3.50
Name: Price, dtype: float64

Now let's check the datatype for our new variable:

In [79]:
# This is a pandas series
type(sliced)

pandas.core.series.Series

The data type is a Pandas Series. We will discuss the differences between a Series and a DataFrame shortly.

**Double brackets return a DataFrame**

First, let's demonstrate using two sets of square brackets to slice out a DataFrame version of the data with a single column.

In [80]:
df.columns
x = df[['Price','Quantity Sold']]
print(x)

         Price  Quantity Sold
Name
brownie   2.25             17
cookie    1.25             40
cake      9.50              1
cupcake   3.50             10

In [81]:
# Select one column using double brackets returns a DataFrame
df_slice = df[['Price']]
df_slice

         Price
Name
brownie   2.25
cookie    1.25
cake      9.50
cupcake   3.50

Now verify the data type:

In [82]:
# This is a pandas DataFrame
type(df_slice)

pandas.core.frame.DataFrame

The data type is a Pandas DataFrame with one column, Price.

**Slicing Multiple Columns**

To select multiple columns, include the additional column names, separated by commas.

In [83]:
# Select multiple columns using double brackets
df[['Quantity Sold', 'Price']]

         Quantity Sold  Price
Name
brownie             17   2.25
cookie              40   1.25
cake                 1   9.50
cupcake             10   3.50

An alternative is to save a list of column names as a variable and then use that variable inside the brackets

In [84]:
# Slicing columns using a variable
cols_to_slice = ['Quantity Sold', 'Price']
df[cols_to_slice]

         Quantity Sold  Price
Name
brownie             17   2.25
cookie              40   1.25
cake                 1   9.50
cupcake             10   3.50

You cannot select multiple columns using single brackets, you will get a KeyError if you try to do so.

In [85]:
# Attempt to slice two columns with single brackets
df['Quantity Sold', 'Price']

KeyError: ('Quantity Sold', 'Price')

**Series vs. DataFrames**

The key difference between a series and a dataframe is that:

* A series is 1 dimensional
* A dataframe is 2-dimensional
* We can confirm this by checking the .shape

DataFrames and Series both have a(n):

* .index
* .values

Series have a .name instead of .columns

If a Series was originally a column in a DataFrame, its .name will be the same as its column name.

**Shape**

Let's first confirm the shape of our dataframe and our series.

In [86]:
# Find the shape of the dataframe
#shape - number of rows and columns
df.shape

(4, 2)

In [87]:
# Find the shape of the series
sliced.shape

(4,)

**.name vs .columns**

As we saw much earlier, a dataframe has a .columns attribute. Since a series is one-dimensional, it does not have columns. Instead, it has a .names attribute.

In [88]:
# Series have a .name attribute
sliced.name

'Price'

Since our series was originally the "Price" column in a DataFrame, its .name is also "Price".

**Basic Operations**

Returning to our bake sale example, the club has asked us to calculate the total sales from Day 1 of their bake sale.

We need to multiply each row's price by each row's quantity sold. Reminder: each row is one of our baked goods. The fact that Pandas stores data inside NumPy arrays means that Series/DataFrames have many of the same conveniences as a NumPy array. Pandas will automatically perform element-wise calculations for us, no loops are required!

Let's calculate our sales from Day 1 by multiplying our Price column times the Quantity Sold column.

In [89]:
# Elementwise calculations with Pandas
sales = df['Price'] * df['Quantity Sold']
sales

Name
brownie    38.25
cookie     50.00
cake        9.50
cupcake    35.00
dtype: float64

In [90]:
# Check dataype of result
type(sales)

pandas.core.series.Series

Notice that the result was a Series without a name. Instead of saving this as a separate Series, we can assign it to a new column in our DataFrame.

In [91]:
# saving sales as a new column
df['Sales'] = df['Price'] * df['Quantity Sold']
df

         Price  Quantity Sold  Sales
Name
brownie   2.25             17  38.25
cookie    1.25             40  50.00
cake      9.50              1   9.50
cupcake   3.50             10  35.00

Yes! By using the DataFrame, we can easily determine that we collected USD38.25 from the sale of brownies, USD50 from the sale of cookies, USD9.50 from the sale of cakes, and USD35.00 from the sale of cupcakes.

**Calculating Total Sales**

We can calculate the total sales by summing up the individual values in the Sales column.

To get the sum of our sales, we can simply use dot notation to call the .sum() method on our Sales column.

In [92]:
# Get the sum of the Sales column
df['Sales'].sum()

np.float64(132.75)

DataFrames have many types of calculations available as methods. We will demonstrate more of these methods throughout the course. You can also check out the [Pandas documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html) to explore the many dataframe methods.

**Including Expenses**

The club wants to account for the expense of making each baked good so that we can calculate the profit for each baked good (Profit = price - expenses), as well as the total profit for all baked goods combined.

The expense of making each baked good is:

* a brownie costs USD 0.25 to make.
* a cookie costs USD 0.50 to make.
* a cake costs USD 5.00 to make.
* a cupcake costs USD 0.75 to make.

Let's start by creating a Panda's Series called "expenses" that consists of the cost of making each of the items sold at the bake sale.

We will also add the name argument for pd.Series to provide a text label for the Series. This series' .name will become its column name when it is added to a DataFrame.

In [93]:
# Making a series from a dictionary
expenses = pd.Series({'brownie':0.25, 'cookie':0.5, 'cake':5, 'cupcake': 0.75},
                     name='Expenses')
expenses

brownie    0.25
cookie     0.50
cake       5.00
cupcake    0.75
Name: Expenses, dtype: float64

**Combining DataFrames & Series with pd.concat()**

We can now add our new expenses Series as a new column in our dataframe.

Since we've already created a series for expenses, and it has the same baked goods as the ones in our dataframe's index, we can combine (concatenate) the expenses series and original dataframe using the function pd.concat()

![image.png]()

* The first argument accepts a list of the DataFrames or Series to concatenate together.
* An axis keyword argument controls how to combine the data:
     * We use axis=0 if we want to add new rows. This is the default argument.
        * In this case, we will want to have the same column names in both variables.
        * this is also the default argument.

     * We use axis=1 if we want to add new columns.
        * In this case, we will want to have the same values in each variable's index.

        
Which axis do we want to use?

We want to add a new column of expenses, and our series and dataframe have the same index, so we will use axis =1.

In [94]:
# saving our combined data as df
# study about axis  = 0 or 1 
df = pd.concat([df, expenses], axis = 1)
df

         Price  Quantity Sold  Sales  Expenses
brownie   2.25             17  38.25      0.25
cookie    1.25             40  50.00      0.50
cake      9.50              1   9.50      5.00
cupcake   3.50             10  35.00      0.75

Calculating Profit

* How do we calculate the profit for each item?
* Profits made

In [95]:
df['Profit_per_item'] = df['Price'] - df['Expenses']
df

         Price  Quantity Sold  Sales  Expenses  Profit_per_item
brownie   2.25             17  38.25      0.25             2.00
cookie    1.25             40  50.00      0.50             0.75
cake      9.50              1   9.50      5.00             4.50
cupcake   3.50             10  35.00      0.75             2.75

In [98]:
df['Profits'] = df['Profit_per_item'] * df['Quantity Sold']
df

         Price  Quantity Sold  Sales  Expenses  Profit_per_item  Profits
brownie   2.25             17  38.25      0.25             2.00     34.0
cookie    1.25             40  50.00      0.50             0.75     30.0
cake      9.50              1   9.50      5.00             4.50      4.5
cupcake   3.50             10  35.00      0.75             2.75     27.5

**Summary**

This lesson demonstrated some fundamental techniques with dataframes. You learned how to slice a column or columns using square brackets. You also learned how to combine an existing series with a dataframe using pd.concat(). You used elementwise calculations to address relevant questions related to the bake sale data and explored df.sum() which is one of many dataframe methods you will use throughout your journey as a data scientist.

# Loading Data with Pandas


**Learning Objectives**

* Mount and access Google Drive from Google Colab
* Load in a file stored in Google Drive with Pandas
* Perform high-level inspection of data
  * .head()
  * .tail()
  * .info()
* Load in data from a direct URL

**Loading Data**

One of the best parts about Pandas is that it can connect to just about any data source you can imagine. You can load data from an Excel or csv file, from a web URL, and more! While you will eventually install Python on your local machine to access more advanced tools installed on your computer, we will first be working in the cloud with Google Colab. In this lesson, we will load a .csv file saved in your Google Drive into Pandas. At the end of the lesson, we will also demonstrate how to read in data from a direct URL.

**Load in the data and save as a Pandas DataFrame**

We will use a different function for reading in data depending on whether it is a .csv or Excel file (.xlsx).

* For a csv, we use pd.read_csv()
* For an Excel file, we use pd.read_excel().
Pandas has many different functions for reading and writing different types of data. If you'd like to learn more, check out the [IO Tools page on Pandas' User Guide](https://pandas.pydata.org/docs/user_guide/io.html)

You can load in the data and save it as a Pandas DataFrame. It is common to name a dataframe "df", but it is also helpful to give your DataFrame a unique name that matches the data it contains. Here we named our dataframe "df".

In [44]:
# # load in the data as a pandas dataframe
# df = pd.read_csv(fname)

**High-level inspection of data**

We always want to verify that the data we loaded in is what we expected and start to get a feel for the data we will be working with.

Whenever loading data, three commands we should use to get acclimated are:

* df.head() to preview the first 5 rows.
* df.tail() to preview the last 5 rows.
* df.info() to obtain a summary table with information about every column.

**Load Data from a Direct URL**
If you have a URL for your data, this is the easiest to load into Pandas. To load the data, use the pd.read_csv('url') and copy the entire URL into the parenthesis. Remember to surround the URL with quotes!

Here we were provided the same bake sale data as a published URL:

https://docs.google.com/spreadsheets/d/e/2PACX-1vQNX3oBeyee-rQEulninLyZoBUy3JVUy3wsGkPRl-G-mbjh5iItwBfezeGkDHnwtxnLneBX3Ylm1c64/pub?gid=860339357&single=true&output=csv

We load in a direct URL using the same pd.read_csv() function as we would use with a .csv file. To avoid overwriting our existing dataframe, we chose to name this dataframe as df_url.

In [120]:
# Save the url surround by quotes
url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vQNX3oBeyee-rQEulninLyZoBUy3JVUy3wsGkPRl-G-mbjh5iItwBfezeGkDHnwtxnLneBX3Ylm1c64/pub?gid=860339357&single=true&output=csv"
# Read in data from url
df_url = pd.read_csv(url)
# Preview the first five rows
df_url.head()
# df_url.shape
df_url.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Item                   12 non-null     object
 1   Student                12 non-null     object
 2   Packaging              12 non-null     object
 3   Price                  12 non-null     float64
 4   Expense                12 non-null     float64
 5   Quantity Sold (Day 1)  12 non-null     int64
 6   Quantity Sold (Day 2)  12 non-null     int64
 7   Quantity Sold (Day 3)  12 non-null     int64
 8   Quantity Sold (Day 4)  12 non-null     int64
dtypes: float64(2), int64(4), object(3)
memory usage: 996.0+ bytes

# Saving a dataframe as a .csv

In [121]:
# Preview the fist 5 rows of the dataframe from previous lesson
df_url.head()

,Item,Student,Packaging,Price,Expense,Quantity Sold (Day 1),Quantity Sold (Day 2),Quantity Sold (Day 3),Quantity Sold (Day 4)
0,brownie,Hugo,Individually Wrapped (Plastic),2.25,0.25,17,19,25,25
1,cookie,Sally,Individually Wrapped (Plastic),1.25,0.50,40,32,38,38
2,cake,Martina,Boxed (Clear Plastic),9.50,5.00,1,2,0,0
3,cupcake,Joe,Boxed (Cardboard),3.50,0.75,10,14,12,12
4,fudge,Hugo,Individually Wrapped (Foil),3.00,1.00,0,20,22,22

In [122]:
df_url.columns

Index(['Item', 'Student', 'Packaging', 'Price', 'Expense',
       'Quantity Sold (Day 1)', 'Quantity Sold (Day 2)',
       'Quantity Sold (Day 3)', 'Quantity Sold (Day 4)'],
      dtype='object')

Think of adding new columns before you save it!

In [123]:
#One approach of adding a derived attribute called 'Profit per item'
# df_url['Profit_per_item'] = df_url['Price']- df_url['Expense']
# df_url

In [124]:
#second approach
#Introducing the same derived attibute using .insert() method
#df_url.info()
df_url.insert(5, 'Profit per Item', df_url['Price']- df_url['Expense'])
df_url

# The insert method supports positioninf hence the 5 attribute

,Item,Student,Packaging,Price,Expense,Profit per Item,Quantity Sold (Day 1),Quantity Sold (Day 2),Quantity Sold (Day 3),Quantity Sold (Day 4)
0,brownie,Hugo,Individually Wrapped (Plastic),2.25,0.25,2.00,17,19,25,25
1,cookie,Sally,Individually Wrapped (Plastic),1.25,0.50,0.75,40,32,38,38
2,cake,Martina,Boxed (Clear Plastic),9.50,5.00,4.50,1,2,0,0
3,cupcake,Joe,Boxed (Cardboard),3.50,0.75,2.75,10,14,12,12
4,fudge,Hugo,Individually Wrapped (Foil),3.00,1.00,2.00,0,20,22,22
5,banana bread,Mark,Individually Wrapped (Foil),2.75,0.50,2.25,0,10,13,13
6,torte,Jade,Boxed (Clear Plastic),10.50,5.50,5.00,0,5,7,7
7,scone,Jade,Individually Wrapped (Plastic),2.00,1.25,0.75,0,8,10,10
8,muffin,Anne,Individually Wrapped (Foil),1.50,0.75,0.75,0,3,4,4
9,rice krispies treats,Martina,Individually Wrapped (Plastic),1.25,0.25,1.00,0,0,10,30
10,apple pie,Sally,Box (Cardboard),10.00,4.00,6.00,0,0,2,3
11,key lime pie,Martina,Box (Cardboard),9.50,4.50,5.00,0,0,3,3

In [125]:
df_url

,Item,Student,Packaging,Price,Expense,Profit per Item,Quantity Sold (Day 1),Quantity Sold (Day 2),Quantity Sold (Day 3),Quantity Sold (Day 4)
0,brownie,Hugo,Individually Wrapped (Plastic),2.25,0.25,2.00,17,19,25,25
1,cookie,Sally,Individually Wrapped (Plastic),1.25,0.50,0.75,40,32,38,38
2,cake,Martina,Boxed (Clear Plastic),9.50,5.00,4.50,1,2,0,0
3,cupcake,Joe,Boxed (Cardboard),3.50,0.75,2.75,10,14,12,12
4,fudge,Hugo,Individually Wrapped (Foil),3.00,1.00,2.00,0,20,22,22
5,banana bread,Mark,Individually Wrapped (Foil),2.75,0.50,2.25,0,10,13,13
6,torte,Jade,Boxed (Clear Plastic),10.50,5.50,5.00,0,5,7,7
7,scone,Jade,Individually Wrapped (Plastic),2.00,1.25,0.75,0,8,10,10
8,muffin,Anne,Individually Wrapped (Foil),1.50,0.75,0.75,0,3,4,4
9,rice krispies treats,Martina,Individually Wrapped (Plastic),1.25,0.25,1.00,0,0,10,30
10,apple pie,Sally,Box (Cardboard),10.00,4.00,6.00,0,0,2,3
11,key lime pie,Martina,Box (Cardboard),9.50,4.50,5.00,0,0,3,3

**How to save the new file to a particular folder.**

Pandas can save data in many different formats. The most common ones you will be using are .csv and .xlsx.

To save a dataframe to a csv file, we use the **df.to_csv()** method which requires a name for the file. Note that the name of the file you select should end with .csv.

Note: if **df** is the variable name for the dataframe

We will name our file "bake-sale-data.csv".

In [126]:
df_url.to_csv('C:/Users/ISHMO_CT/Desktop/Projects/RDSB/data/bake-sale-data.csv')

# Slicing

**Learning Objectives**

* Select columns and rows using .loc
* Set the index of a DataFrame

We briefly introduced slicing much earlier. "Slicing" is the process of selecting a subset of the data based on label or position.

In [127]:
# Import needed libraries
import pandas as pd

In [128]:
pd.read_csv('C:/Users/ISHMO_CT/Desktop/Projects/RDSB/data/bake-sale-data.csv')

,Unnamed: 0,Item,Student,Packaging,Price,Expense,Profit per Item,Quantity Sold (Day 1),Quantity Sold (Day 2),Quantity Sold (Day 3),Quantity Sold (Day 4)
0,0,brownie,Hugo,Individually Wrapped (Plastic),2.25,0.25,2.00,17,19,25,25
1,1,cookie,Sally,Individually Wrapped (Plastic),1.25,0.50,0.75,40,32,38,38
2,2,cake,Martina,Boxed (Clear Plastic),9.50,5.00,4.50,1,2,0,0
3,3,cupcake,Joe,Boxed (Cardboard),3.50,0.75,2.75,10,14,12,12
4,4,fudge,Hugo,Individually Wrapped (Foil),3.00,1.00,2.00,0,20,22,22
5,5,banana bread,Mark,Individually Wrapped (Foil),2.75,0.50,2.25,0,10,13,13
6,6,torte,Jade,Boxed (Clear Plastic),10.50,5.50,5.00,0,5,7,7
7,7,scone,Jade,Individually Wrapped (Plastic),2.00,1.25,0.75,0,8,10,10
8,8,muffin,Anne,Individually Wrapped (Foil),1.50,0.75,0.75,0,3,4,4
9,9,rice krispies treats,Martina,Individually Wrapped (Plastic),1.25,0.25,1.00,0,0,10,30
10,10,apple pie,Sally,Box (Cardboard),10.00,4.00,6.00,0,0,2,3
11,11,key lime pie,Martina,Box (Cardboard),9.50,4.50,5.00,0,0,3,3

In [129]:
# #Mount google drive

# from google.colab import drive
# drive.mount('/content/drive')

In [130]:
# # Define the file path
# fname = "/content/drive/MyDrive/STUDENTS/refactory/DS/Bake_Sales.csv"
# df = pd.read_csv(fname)
# df.head()

**Review: Slicing Collumns with Square Brackets**

Here is a quick review of slicing a single column from a dataframe using square brackets and the column name.

In [135]:
# # Review: slicing 1 column
df_url["Item"]

0                  brownie
1                   cookie
2                     cake
3                  cupcake
4                    fudge
5             banana bread
6                    torte
7                    scone
8                   muffin
9     rice krispies treats
10               apple pie
11            key lime pie
Name: Item, dtype: object

In [136]:
df_url['Item'].unique()

array(['brownie', 'cookie', 'cake', 'cupcake', 'fudge', 'banana bread',
       'torte', 'scone', 'muffin', 'rice krispies treats', 'apple pie',
       'key lime pie'], dtype=object)

We can slice more than one column by including the desired column names in a list.

In [137]:

# Review: slicing more than 1 column
df_url[["Item", "Student","Price"]]

                    Item  Student  Price
0                brownie     Hugo   2.25
1                 cookie    Sally   1.25
2                   cake  Martina   9.50
3                cupcake      Joe   3.50
4                  fudge     Hugo   3.00
5           banana bread     Mark   2.75
6                  torte     Jade  10.50
7                  scone     Jade   2.00
8                 muffin     Anne   1.50
9   rice krispies treats  Martina   1.25
10             apple pie    Sally  10.00
11          key lime pie  Martina   9.50

**Slicing Rows with .loc**

.loc is a special method used to locate desired rows and/or columns for slicing. .loc works a little differently than other methods or attributes we have used. Since .loc is exclusively used for slicing and filtering, we will use square brackets with .loc instead of round parentheses. Inside the square brackets, we will include the index we want to select.

If we wanted to slice out the row that contains the item "cake", we would need to know its index. Since "cake" is one of the first entries in our small DataFrame, we can easily look and see "cake" is in index 2.

In [138]:
df.columns

Index(['Price', 'Quantity Sold', 'Sales', 'Expenses', 'Profit_per_item',
       'Profits'],
      dtype='object')

In [154]:
# Slice the row with cake at index 2
df_url.loc[2]

Item                                      cake
Student                                Martina
Packaging                Boxed (Clear Plastic)
Price                                      9.5
Expense                                    5.0
Profit per Item                            4.5
Quantity Sold (Day 1)                        1
Quantity Sold (Day 2)                        2
Quantity Sold (Day 3)                        0
Quantity Sold (Day 4)                        0
Name: 2, dtype: object

We can see that we have a Series named "2" that contains the row that with "cake" in the Item column.

Similar to the square bracket slicing we did earlier, we can output our result as a dataframe if we use double square brackets:

In [142]:
# Use double square brackets to ouput a dataframe
df_url.loc[[2]]

,Item,Student,Packaging,Price,Expense,Profit per Item,Quantity Sold (Day 1),Quantity Sold (Day 2),Quantity Sold (Day 3),Quantity Sold (Day 4)
2,cake,Martina,Boxed (Clear Plastic),9.5,5.0,4.5,1,2,0,0

But what if we had 100 baked goods? This is when you may want to consider using a unique identifier, such as the Item, as the index.

In [143]:
# Set the index
df = df_url.set_index("Item")
df.head()

,Student,Packaging,Price,Expense,Profit per Item,Quantity Sold (Day 1),Quantity Sold (Day 2),Quantity Sold (Day 3),Quantity Sold (Day 4)
Item,,,,,,,,,
brownie,Hugo,Individually Wrapped (Plastic),2.25,0.25,2.00,17,19,25,25
cookie,Sally,Individually Wrapped (Plastic),1.25,0.50,0.75,40,32,38,38
cake,Martina,Boxed (Clear Plastic),9.50,5.00,4.50,1,2,0,0
cupcake,Joe,Boxed (Cardboard),3.50,0.75,2.75,10,14,12,12
fudge,Hugo,Individually Wrapped (Foil),3.00,1.00,2.00,0,20,22,22

Now that Item is our index, we can use the name of the baked good to slice out the corresponding row.

In [144]:
# Slice out the row with cake as the index
df.loc[['cake']]

,Student,Packaging,Price,Expense,Profit per Item,Quantity Sold (Day 1),Quantity Sold (Day 2),Quantity Sold (Day 3),Quantity Sold (Day 4)
Item,,,,,,,,,
cake,Martina,Boxed (Clear Plastic),9.5,5.0,4.5,1,2,0,0

We can also slice multiple rows at a time using a list of row indices.

In [145]:
# Slice multiple rows using a list
df.loc[['cake','brownie']]

,Student,Packaging,Price,Expense,Profit per Item,Quantity Sold (Day 1),Quantity Sold (Day 2),Quantity Sold (Day 3),Quantity Sold (Day 4)
Item,,,,,,,,,
cake,Martina,Boxed (Clear Plastic),9.50,5.00,4.5,1,2,0,0
brownie,Hugo,Individually Wrapped (Plastic),2.25,0.25,2.0,17,19,25,25

**Slicing Rows & Columns with .loc**

What makes .loc powerful is that we can slice rows and columns at the same time. .loc expects the first value it receives to be the index for the rows and the second value to be the name of the column(s).

df.loc[rows,columns]

What if we wanted to select the Price for a muffin? Notice that if we select a single cell (row & column), .loc will return the value stored in that cell instead of a Series.

In [146]:
#df['item'].unique()

In [147]:
# Slice the muffin row and Price column
df.loc["muffin",'Price']

np.float64(1.5)

If we wanted to select the "Price" and "Student" columns for a muffin, we put the two column names in a list:

In [148]:
# Slice Price and Student for muffin
df.loc["muffin", ["Price","Student"]]

Price       1.5
Student    Anne
Name: muffin, dtype: object

Make sure to pay attention to your square brackets. You will always need a set of square brackets wrapped around whatever lists you are using as your row and column indexers.

What if we wanted the Price, Expense, and Baked By columns for muffins, scones, and banana bread?

**Slicing Columns (Only) with .loc**

If we wanted to slice all rows for a column, we would use a colon as the row index. The colon can be interpreted as "all."

In [149]:
# Selet all rows for the Price Column
df.loc[:, 'Price']

Item
brownie                  2.25
cookie                   1.25
cake                     9.50
cupcake                  3.50
fudge                    3.00
banana bread             2.75
torte                   10.50
scone                    2.00
muffin                   1.50
rice krispies treats     1.25
apple pie               10.00
key lime pie             9.50
Name: Price, dtype: float64

We could select all rows for multiple columns. Use ":" for the rows, followed by a list of the columns you wish to include:

In [150]:
# Slice all rows for mulitple columns
df.loc[:, ["Price","Expense"]]

                      Price  Expense
Item
brownie                2.25     0.25
cookie                 1.25     0.50
cake                   9.50     5.00
cupcake                3.50     0.75
fudge                  3.00     1.00
banana bread           2.75     0.50
torte                 10.50     5.50
scone                  2.00     1.25
muffin                 1.50     0.75
rice krispies treats   1.25     0.25
apple pie             10.00     4.00
key lime pie           9.50     4.50

**Slicing columns with .loc or just square brackets?**

You may be wondering which you should use. The short answer is that the safest one to use is to use .loc.

The more complex answer is that it depends on what we want to do with the data. If we want to check the values in the column without changing them, we can use square brackets alone.

If we want to manipulate the data, we should use .loc.

**Changing Values with .loc**

.loc also lets us modify the data we have sliced.

For example, if we realized we had a typo in our spreadsheet, such as the price of a torte was 11.50, not 10.50, we can use .loc to slice the Price for the torte and then assign it the new value.

In [151]:
df.loc['torte', 'Price']

np.float64(10.5)

In [152]:
# Locate the Price of a torte and change the value
df.loc['torte',"Price"] = 11.5

Now we can confirm the change by inspecting the row with the torte.

In [153]:
# Inspect torte
df.loc['torte']

Student                                   Jade
Packaging                Boxed (Clear Plastic)
Price                                     11.5
Expense                                    5.5
Profit per Item                            5.0
Quantity Sold (Day 1)                        0
Quantity Sold (Day 2)                        5
Quantity Sold (Day 3)                        7
Quantity Sold (Day 4)                        7
Name: torte, dtype: object

**Next Lesson**


*   Filtering
*   Groupby
*   Duplicates
*   Missing Values
*   Handling null values